@import './../style/variables';

.#{$cssPrefix}-btn-group {
    margin-left: 10px;

    display: inline-block;
    position: relative; 
    overflow: hidden;

    .#{$cssPrefix}-btn {
        border-radius: 0;
        margin-left: -1px;

        &:first-child{
            margin-left: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }
}