@import './../style/variables';
@import './../style/mixins';

$dangerActive: $error-active;

@mixin mix_btnSize($size: default) {
    @include m_FontSize($size);
    @include m_Height($size);
    @include m_Padding(left, $size);
    @include m_Padding(right, $size);
    // $lineHeight: round((22/14) * 10000) / 10000;
    // line-height: 1.57;
}

// 主色，激活色
@mixin mix_fillButton($pr, $act) {
    color: white;
    border-color: $pr;
    background-color: $pr;
    &:hover {
        color: white;
        border-color: $pr;
    }
    &:active {
        color: white;
        border-color: $act;
        background-color: $act;
    }
    &.#{$cssPrefix}-btn-ghost{
        background-color: transparent;
        color: $pr;
        &:active {
            color: $act;
            border-color: $act;
        }
    }
}



.#{$cssPrefix}-btn {
    cursor: pointer; user-select: none;
    display: inline-block;
    position: relative;
    
    text-align: center;
    white-space: nowrap;

    box-sizing: border-box;

    border: {
        width: $border-width;
        radius: $border-radius;
        style: solid;
        color: $gray-5;
    }

    outline: 0 ;
    background-color: white;
    color: $gray-9;

    transition: all .2s ease-in-out;
    
    i+span{ margin-left: 4px; } // 图标后面的文字
    > span { display: inline-block; }
    
    @include mix_btnSize;

    &-lg { 
        @include mix_btnSize(lg);
        &.#{$cssPrefix}-btn-icon-only{
            width: 40px; height: 40px;
        }
        i+span{ margin-left: 8px; }
    }
    &-sm { 
        @include mix_btnSize(sm);
        &.#{$cssPrefix}-btn-icon-only{
            width: 24px; height: 24px;
        }
        i+span{ margin-left: 2px; }
    }

    &:hover{
        opacity: .88;
        color: $primary;
        border-color: $primary;
    }

    &:active {
        color: $primary-7;
        border-color: $primary-7;
    }

    // &:focus { box-shadow: 0 0 0 2px rgba($primary, .2); }
    
    &-primary {
        @include mix_fillButton($primary, $primary-7);
    }

    &-danger {
        @include mix_fillButton($error, $dangerActive);
        // &:focus {
        //     box-shadow: 0 0 0 2px rgba($error, .2);
        // }
    }

    &-text {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        &:hover{
            border-color: transparent;
            background-color: $gray-3;
        }
        &:active {
            color: $primary-7;
            background-color: $gray-4;
        }
        // &:focus { box-shadow: none; }

        &.#{$cssPrefix}-btn-text-danger {
            color: $error;
            &:active {
                color: $dangerActive;
            }
        }
    }

    &-link {
        border-color: transparent;
        box-shadow: none;
        text-decoration: underline;
        &:hover{ border-color: transparent; }
        &:active { color: $primary-7; }
        // &:focus { box-shadow: none; }
        &.#{$cssPrefix}-btn-link-danger {
            color: $error;
        }
    }

    &-block { display: block; width: 100%; }

    &:disabled {
        &:hover{ opacity: 1; }
        background-color: $gray-4;
        border-color: $gray-4;
        color: $gray-6;
        box-shadow: none;
        cursor: not-allowed;
        > * {
            pointer-events: none;
        }
    }

    &-text, &-link {
        &:disabled{
            background-color: transparent;
            border-color: transparent;
        }
    }

    &-icon-only{
        border-radius: 50%;
        padding: 0px;
        width: 32px; 
        height: 32px;
    }
}