@import './../style/variables';

.#{$cssPrefix}-btn-group {
    display: inline-block;

    .#{$cssPrefix}-btn {
        border-radius: 0;
        margin-left: -1px;

        &:first-child{
            margin-left: 0;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        &.#{$cssPrefix}-btn-icon-only {
            border-radius: 50%;
        }
    }

    &-vertical {
        .#{$cssPrefix}-btn {
            display: block;
            margin-left: 0;
            margin-top: -1px;

            &:not(.#{$cssPrefix}-btn-icon-only){
                width: 100%;
            }

            &:first-child{
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                border-bottom-left-radius: 0;
                margin-top: 0;
            }

            &:last-child {
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                border-top-right-radius: 0;
            }

            &.#{$cssPrefix}-btn-icon-only {
                margin: 0 auto;
                border-radius: 50%;
            }
        }
    }
}