.moore-btn {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: $primary;
    color: white;

    &:focus {
        opacity: .85;
        outline: none;
    }

    &-disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}