@import './style/variables';
@import './style/mixins';
@import './style/functions';

@font-face {
    font-family: #{$iconFont};  /* project id 2028097 */
    src: url('//at.alicdn.com/t/font_2028097_yjdt327ch87.eot');
    src: url('//at.alicdn.com/t/font_2028097_yjdt327ch87.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2028097_yjdt327ch87.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2028097_yjdt327ch87.woff') format('woff'),
    url('//at.alicdn.com/t/font_2028097_yjdt327ch87.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2028097_yjdt327ch87.svg#iconfont') format('svg');
}

// 图标
@import './icon/icon.scss';
// 按钮
@import './button/button.scss';
@import './button/buttonGroup.scss';
// Alert提示消息
@import './alert/alert.scss';
// 菜单
@import './menu/menu.scss';


html, body {
    font-family: $fontFmaily;
}
