@import './style/variables';
@import './style/mixins';
@import './style/functions';

@font-face {
    font-family: #{$iconFont};  /* project id 2028097 */
    src: url('//at.alicdn.com/t/font_2028097_91v9yjc7m.eot');
    src: url('//at.alicdn.com/t/font_2028097_91v9yjc7m.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2028097_91v9yjc7m.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2028097_91v9yjc7m.woff') format('woff'),
    url('//at.alicdn.com/t/font_2028097_91v9yjc7m.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2028097_91v9yjc7m.svg#iconfont') format('svg');
}

@import './button/button.scss';
@import './button/buttonGroup.scss';


@import './icon/icon.scss';


html, body {
    font-family: $fontFmaily;
    text-align: center;
}


@each $var in (block, inline, flex, inline-block) {
    .#{$var} {
        display: $var;
    }
}