// 中性色

// 彩色板

// 系统色板-功能色
$primary: #1E90FF !default;
$second: '' !default;
$success: '' !default;
$info: '' !default;
$warning: '' !default;
$danger: '' !default;
$light: '' !default;
$dark: '' !default;

