$cssPrefix: 'moore';

// 中性色

// 彩色板

// 系统色板-功能色
$primary: #1E90FF !default;
$second: '' !default;
$success: '' !default;
$info: '' !default;
$warning: '' !default;
$danger: #ff7875 !default;
$light: '' !default;
$dark: '' !default;



// 内填充和外边距 这个要统一
$lg-padding: '' !default;
$md-padding: 4px !default;
$sm-padding: '' !default;

$lg-margin: '' !default;
$md-margin: 4px !default;
$sm-margin: '' !default;


// 边框、字体
$font_fmaily: 'Source Han Sans CN';