$cssPrefix: 'moore';

// 中性色

// 彩色板

// 系统色板-功能色
$primary: #1E90FF !default;
$second : '' !default;
$success: '' !default;
$info   : '' !default;
$warning: '' !default;
$danger : #ff7875 !default;
$light  : '' !default;
$dark   : '' !default;



// 圆角大小
$border-radius: 3px !default;
$border-width : 1px !default;


// 边框、字体
$font_fmaily: 'Source Han Sans CN';