@import './../style/variables';

.#{$cssPrefix}-alert {
    padding: 8px 16px;
    border-radius: $border-radius;
    max-width: 400px;
    position: relative;
    box-sizing: border-box;
    word-break: break-all;
    color: $gray-9;
    
    @each $key, $val in (info: $info, success: $success, warning: $warning, error: $error) {
        &-#{$key} {
            background-color: rgba($color: $val, $alpha: .15);
            border: 1px solid rgba($color: $val, $alpha: .5);
            .#{$cssPrefix}-alert-icon {
                color: $val;
            }
        }
    }
    
    .#{$cssPrefix}-alert-main {
        padding-right: 16px;
    }
    .#{$cssPrefix}-alert-title{
        font-size: 14px;
        + .#{$cssPrefix}-alert-content {
            margin-top: 8px;
        }
    }
    .#{$cssPrefix}-alert-content{
        font-size: 14px;
        line-height: 1.5em;
    }

    
    &-icon {    // 左侧图标
        font-size: 24px;
        line-height: 1;
        position: absolute;
        left: 8px; top: 50%;
        transform: translateY(-50%);
        .#{$cssPrefix}-icon{
            vertical-align: top;
        }
    }

    
    &-close {   // 关闭按钮
        position: absolute;
        right: 8px; top: 4px;
        color: $gray-7;
        font-size: 12px;
        cursor: pointer;
        &:hover{
            background-color: transparent;
            color: $gray-9;
        }
        i{
            font-style: normal;
        }
    }


    &-with-icon {
        padding-left: 32px;
        .#{$cssPrefix}-alert-icon{
            font-size: 16px;
        }
    }

    &-with-desc{
        padding-left: 40px;
        .#{$cssPrefix}-alert-icon{
            font-size: 24px;
        }
        .#{$cssPrefix}-alert-title{
            font-size: 16px;
        }
    }


    &-destory {
        opacity: 0;
    }
    transition: all .3s ease-out;
}