@import './../style/variables';

.#{$cssPrefix}-menu {
    width: 200px;
    font-size: 14px;
    list-style: none;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: {
        top: 0;
        bottom: 0;
    }
    padding: {
        left: 0;
    }

    &-item {
        white-space: nowrap;
        position: relative;
        cursor: pointer;
        line-height: 40px;
        padding: {
            left: 8px;
            right: 8px;
        };
        
        &::after{
            content: '';
            position: absolute;
            height: 0;
            width: 2px;
            background-color: transparent;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            transition: all .15s ease-in-out;
        }

        &:hover{ color: $primary; }

        &-active {
            background: rgba($color: $primary, $alpha: .12);
            color: $primary;
            &::after{
                height: 100%;
                background-color: $primary;
            }
        }

        &-disabled {
            color: $gray-6;
            cursor: not-allowed;
            &:hover{ color: $gray-6; }
        }

        .#{$cssPrefix}-icon {
            margin-right: 4px;
        }
    }
}

.#{$cssPrefix}-submenu {
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    
    .#{$cssPrefix}-menu {
        display: none;
        transition: all .25s ease-in-out;
    }

    &-title {    
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        line-height: 40px;
        padding: {
            left: 8px;
            right: 8px;
        };
        .#{$cssPrefix}-icon {
            margin-right: 4px;
        }
    }

    .#{$cssPrefix}-submenu-arrow {
        .#{$cssPrefix}-icon {
            margin-right: 0;
        }
        position: absolute;
        right: 0;
        transform: scale(1, .8);
        transition: all .15s ease-in;
    }

    &-open {
        > .#{$cssPrefix}-submenu-title {
            > .#{$cssPrefix}-submenu-arrow {
                transform: rotate(180deg) scale(1, .7);
            }
        }
        > .#{$cssPrefix}-menu {
            display: block;
        }
    }

    &-disabled {
        color: $gray-6;
        cursor: not-allowed;
    }
}