@import './../style/variables';

@mixin menuItemNormal {
    cursor: pointer;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    
    line-height: 40px;
    
    padding: {
        left: 8px;
        right: 8px;
    };
}

@mixin menuNormalIcon {
    >.#{$cssPrefix}-icon {
        margin-right: 4px;
    }
}


.#{$cssPrefix}-menu {
    font-size: 14px;
    list-style: none;
    box-sizing: border-box;

    padding-left: 0;
    margin: {
        top: 0;
        bottom: 0;
    }

    &-item {
        @include menuItemNormal;
        @include menuNormalIcon;
        &:hover{ color: $primary; }
        &::after{
            content: '';
            background-color: transparent;
            position: absolute;
            bottom: 50%;
            right: 0;
            height: 0;
            width: 2px;
            transform: translateY(50%);
            transition: all .15s ease-in-out;
        }

        &-active {
            background: rgba($color: $primary, $alpha: .12);
            color: $primary;
            &::after{
                height: 100%;
                background-color: $primary;
            }
        }

        &-disabled {
            color: $gray-6;
            cursor: not-allowed;
            &:hover{ color: $gray-6; }
        }
    }
}


.#{$cssPrefix}-submenu {
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    
    .#{$cssPrefix}-menu {
        display: none;
    }

    &-title {
        @include menuItemNormal;
        @include menuNormalIcon;
    }

    .#{$cssPrefix}-submenu-arrow {
        position: absolute; 
        right: 0;
        display: inline-block;
        .#{$cssPrefix}-icon {
            transition: all .15s ease-in;
            transform: scale(.9, .65);
        }
    }

    &-open {
        > .#{$cssPrefix}-submenu-title {
            .#{$cssPrefix}-submenu-arrow {
                .#{$cssPrefix}-icon {
                    transform: rotate(180deg) scale(.9, .65);
                }
            }
        }

        > .#{$cssPrefix}-menu {
            display: block;
        }
    }

    &-disabled {
        color: $gray-6;
        cursor: not-allowed;
    }
}


.#{$cssPrefix}-menugroup {
    &-title {
        @include menuItemNormal;
        font-size: 12px;
        color: $gray-7;
    }
};


// 水平布局
.#{$cssPrefix}-menu-horizontal{
    width: 100%;

    >.#{$cssPrefix}-menu-item, >.#{$cssPrefix}-submenu {
        display: inline-block;
        vertical-align: bottom;
    }

    .#{$cssPrefix}-submenu-arrow {
        position: static;
        padding-left: 8px;
    }

    .#{$cssPrefix}-menu {
        position: absolute;
        border-radius: $border-radius;
        box-shadow: 
            0px -1px 1px 1px $gray-4,
            1px 0px 2px 1px $gray-4,
            0px 1px 2px 1px $gray-4,
            -1px -1px 2px 1px $gray-4;

        &-item {
            padding: {
                left: 16px; right: 16px;
            };
            
            &::after{
                bottom: 0; left: 50%;
                transform: translateY(0%) translateX(-50%);
                width: 0;
                height: 2px;
            }

            &-active {
                background-color: transparent;
                &::after{
                    width: 100%;
                    background-color: $primary;
                }
            }
        }
    }
}